player-connection-mode=Listen
player-connection-guid=3675002810
player-connection-debug=0
player-connection-project-name=GAMENET_M1_Mauhay
player-connection-ip=10.0.0.11
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e5e2dc2e35e1466f96e2651ea1c45362
